<div class="footer">
  <div class="content">
    <div class="column">
      <h2>Kontakt</h2>

      <div class="contact">
        <div class="contact-item">
          <mat-icon class="icon">phone</mat-icon>
          <a href="tel:069911311372" class="phone-1">+43 699 11311372</a>
        </div>

        <div class="contact-item">
          <mat-icon class="icon">mail</mat-icon>
          <a href="mailto:Hinterleitner.grueblinger@gmail.com" class="mail">Hinterleitner.grueblinger@gmail.com</a>
        </div>

        <div class="contact-item">
          <mat-icon class="icon">location_on</mat-icon>
          <span>Tollet 44</span>
        </div>

<!--        <mat-icon class="icon">phone</mat-icon>


        &lt;!&ndash;<span class="name">Jan</span>&ndash;&gt;
        <a href="tel:069911311372" class="phone-1">+43 699 11311372</a>

&lt;!&ndash;        <mat-icon class="icon">phone</mat-icon>
        <span class="name">Matthias</span>
        <a href="tel:06763231670">+43 676 3231670</a>&ndash;&gt;

        <mat-icon class="icon">mail</mat-icon>
        <a href="mailto:Hinterleitner.grueblinger@gmail.com" class="mail">Hinterleitner.grueblinger@gmail.com</a>

        <mat-icon class="icon">location_on</mat-icon>
        <span class="address">Hinterleitner & Grueblinger GmbH</span>-->

        <!--<div class="contact-item">
          <mat-icon>phone</mat-icon>
          <span>Matthias</span>
          <a href="tel:06763231670">+43 676 3231670</a>
        </div>

        <div class="contact-item">
          <mat-icon>mail</mat-icon>
          <a href="mailto:Hinterleitner.grueblinger@gmail.com">Hinterleitner.grueblinger@gmail.com</a>
        </div>-->
      </div>
    </div>

    <div class="column">
      <h2>Social Media</h2>
      <div class="middle">
        <a class="btn" href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn" href="#">
          <i class="fab fa-google"></i>
        </a>
        <a class="btn" href="#">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>

    <div class="column">
      <h2>Links</h2>
    </div>
  </div>

  <div class="bottom">
    © Copyright hg-events.at
  </div>
</div>
