<div class="footer">
  <div class="content">
    <div class="column">
      <h2>Kontakt</h2>
      <div class="contact">
        <app-footer-contact></app-footer-contact>
      </div>
    </div>

    <div class="column">
      <h2>Social Media</h2>

      <div class="social-media">
        <app-footer-social-media></app-footer-social-media>
      </div>
    </div>

    <div class="column">
      <h2>Links</h2>
    </div>
  </div>

  <div class="footer-bottom">
    <app-footer-bottom></app-footer-bottom>
  </div>
</div>
