@import url(https://use.fontawesome.com/releases/v5.4.1/css/all.css);
@import "src/styles/common";
@import "src/styles/variables";

$footerHeight: 16rem;

.footer {
  width: 100%;
  @include verticalList(0);
  margin-top: auto;
  color: $lightColorLight;
}

.content {
  background: $darkColorLight;
  @include horizontalList(0);
  padding: 1rem 0;
}

.column {
  width: 100%;
  @include verticalList(0);
  padding: 1rem;
}

.column:nth-child(2) {
  @include verticalBorder($lightColorDark);
}

h2 {
  text-align: center;
  color: $lightColorLight;
}

.footer-links {
  overflow: hidden;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
    height: auto;
  }

  .column {
    align-items: center;
  }

  .column > * {
    width: 600px;
    @include verticalList();
  }

  .contact {
    align-self: center;
  }

  .column:nth-child(2) {
    @include horizontalBorder($middleColorDark);
    border-left: none;
    border-right: none;
  }

  h2 {
    text-decoration: underline;
  }

  .footer-links {
    align-self: center;
  }
}

@media (max-width: 620px) {
  .column > * {
    width: 100%;
  }
}
