<div class="footer">
  <div class="content">
    <div class="column">
      <div class="contact">
        <h2>Kontakt</h2>
        <app-footer-contact></app-footer-contact>
      </div>
    </div>

    <div class="column">
      <div class="social-media">
        <h2>Social Media</h2>
        <app-footer-social-media></app-footer-social-media>
      </div>
    </div>

    <div class="column">
      <div class="footer-message">
        <h2>Kontaktieren Sie uns</h2>
        <app-footer-message></app-footer-message>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <app-footer-bottom></app-footer-bottom>
  </div>
</div>
