@import "src/styles/common";
@import "src/styles/variables";

.scroll-table {
  @include verticalList(0);
  height: 100%;

  border: 1px solid $lightColorDark;
}

.header {
  @include horizontalList(1rem);
  overflow-y: scroll;
  background: $highlight1Dark;
  color: $lightColorLight;

  padding: 0 1rem;

  &::-webkit-scrollbar {
    visibility: hidden;
  }
}

.header-item {
  width: 100%;
  font-weight: bold;
  padding: 0.5rem 0;
}

.body {
  height: 100%;
  overflow: auto;
}

hr {
  margin: 0;
}
