<div *ngIf="loadedEquipment" class="equipment">
  <div class="image">
    <img [src]="imgUrl" alt="Equipment">
  </div>

  <div class="content">
    <h2>{{loadedEquipment.name}}</h2>

    <div>
      {{loadedEquipment.detail}}
    </div>
  </div>

  <div class="buttons">
    <button (click)="addToRequest(loadedEquipment.id)" class="add-request" mat-raised-button>Zur Anfrage hinzufügen
    </button>
    <button [routerLink]="loadedEquipment.id" mat-raised-button>Frage stellen</button>
  </div>
</div>
