<div class="public-page">
  <div class="request">
    <h1>Anfrage stellen</h1>

    <div class="inputs">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Vorname</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nachname</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefonnummer</mat-label>
        <input matInput type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Infos</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="equipments">

    </div>

    <div class="buttons">
      <button mat-raised-button>Anfrage stellen</button>
    </div>
  </div>
</div>
