<div class="dashboard-page">
  <app-dashboard-card title="Bearbeiten">
    <app-loadable-container [isLoading]="(isLoading$ | async) == true">
      <div class="edit-rating">
        <button mat-raised-button routerLink="../">Zurück</button>

        <mat-form-field>
          <mat-label>Autor</mat-label>
          <input [formControl]="autorForm" matInput type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Titel</mat-label>
          <input [formControl]="titleForm" matInput type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nachricht</mat-label>
          <input [formControl]="messageForm" matInput type="text">
        </mat-form-field>

        <app-save-cancel-buttons (cancelled)="cancel$.next()" (saved)="save$.next()"
                                 [saveEnabled]="formGroup.valid">
        </app-save-cancel-buttons>
      </div>
    </app-loadable-container>
  </app-dashboard-card>
</div>
