@use "src/styles/common";
@import "src/styles/variables";

$headerHeight: 4rem;

.admin-header {
  width: 100%;
  height: 4rem;
  background-color: white;
  @include common.horizontalList(0);
  align-items: center;
}

.menu-toggle {
  height: $headerHeight;
  width: $headerHeight;
  @include common.flexCenter;
  cursor: pointer;

  &:hover {
    background-color: $middleColorDark;
    color: $lightColorLight;
  }
}
