@import "src/styles/common";
@import "src/styles/variables";
@import "../../homeStyles";

.welcome-area {
  width: 100%;
  height: 100vh;

  background-image: url("~src/assets/images/mischpult_closeup_wide.jpg");
  background-color: black;
  background-size: cover;
  position: relative;
}

.center {
  @include translateCenter;
  @include verticalList();
}

.request {
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: $welcomeTitleAnimationDuration;
  animation-delay: $welcomeTitleAnimationDelay + $welcomeTitleAnimationDuration;
  opacity: 0;

  background-color: $highLight2Dark;
  color: $lightColorLight;

  align-self: center;
}
