@import "~src/styles/variables";

.header{
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;


  -webkit-box-shadow: 0 6px 4px -4px #1e1e1e;
  -moz-box-shadow: 0 6px 4px -4px #1e1e1e;
  box-shadow: 0 6px 4px -4px #1e1e1e;
}

.top{
  height: $headerHeight;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.menu{
  color: white;
  display: none;
}

.logo{
  padding: 1rem;
  height: $headerHeight;
}

img{
  height: 100%;
}

.expanding-content{
  margin-left: auto;
}

.menu-items {
  display: flex;
  flex-direction: row-reverse;
  color: #dadada;
}

.menu-item{
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.menu-item:hover{
  color: white;
}

.menu-item > *{
  animation-name: fade-in;
  animation-duration: 0.5s;

  opacity: 0;
  transform: translateY(-30px);
  animation-fill-mode: forwards;
}

.menu-items .menu-item:nth-child(1) > *{
  animation-delay: 0s;
}

.menu-items .menu-item:nth-child(2) > *{
  animation-delay: 0.1s;
}

.menu-items .menu-item:nth-child(3) > *{
  animation-delay: 0.2s;
}

.menu-items .menu-item:nth-child(4) > *{
  animation-delay: 0.3s;
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

html:not([data-scroll='10']) .header {
  background-color: blue;
}

@media (max-width: 630px) {
  .header{
    flex-direction: column;
  }

  .expanding-content{
    margin-left: unset;
  }

  .menu-item > *{
    animation: none;
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 440px) {
  .expanding-content{
    position: absolute;
    top: $headerHeight;
    height: calc(100vh - $headerHeight);
    width: 0;
    background-color: black;
    transition: width 0.4s;
    overflow: hidden;
    white-space: nowrap;
  }

  .header{
    align-items: flex-start;
  }

  .top{
    width: 100%;
  }

  .menu{
    width: $headerHeight;
    height: $headerHeight;
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu:hover{
    background-color: gray;
  }

  .expanding-content.open{
    width: 100%;
  }

  .menu-items{
    flex-direction: column-reverse;
  }

  .menu-item{
    justify-content: left;
  }
}
