<div class="header">
  <div class="top">
    <div class="logo">
      <img src="https://www.hg-events.at/assets/images/Logos/Logo_small.svg" alt="HG-Events">
    </div>

    <div class="menu" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
  <div class="expanding-content" [ngClass]="{'open' : show}">
    <div class="menu-items">
      <div class="menu-item">
        <a>Kontakt</a>
      </div>

      <div class="menu-item" routerLink="./ratings">
        <a>Gästebuch</a>
      </div>

      <div class="menu-item">
        <a>Anfrage</a>
      </div>

      <div class="menu-item" routerLink="./equipments">
        <a>Unser Equipment</a>
      </div>
    </div>
  </div>
</div>
