<div class="page home">
  <div class="image-container">
    <div class="center">
      <div class="text-container">
      <span class="text">
        Ton | Licht | DJ
      </span>
      </div>

      <button class="request">
        Anfrage senden
      </button>
    </div>
  </div>

  <div class="main-content">
    <div class="overview">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Anfrage</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/priscilla-du-preez-BjhUu6BpUZA-unsplash.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content>
          <div class="item-content">
            <div>
              Treten Sie mit uns in Kontakt.
            </div>

            <button class="more-button">Erfahren Sie mehr</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Equipment</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/aleksandr-popov-JhYnL-BiP18-unsplash.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content>
          <div class="item-content">
            <div>
              Treten Sie mit uns in Kontakt.
            </div>

            <button class="more-button">Erfahren Sie mehr</button>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Kontakt</mat-card-title>
        </mat-card-header>

        <img mat-card-image src="assets/images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content>
          <div class="item-content">
            <div>
              Treten Sie mit uns in Kontakt.
            </div>

            <button class="more-button">Erfahren Sie mehr</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
