@mixin disableTextWrap {
  white-space: nowrap;
  overflow: hidden;
}

@mixin translateCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin verticalList($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin horizontalList($gap: 1rem) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin shadow($inset, $offset, $blurRadius, $spreadRadius, $color) {
  -webkit-box-shadow: $inset $offset $blurRadius $spreadRadius $color;
  -moz-box-shadow: $inset $offset $blurRadius $spreadRadius $color;
  box-shadow: $inset $offset $blurRadius $spreadRadius $color;
}

@mixin link($color, $highlightPercentage: 10%) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: lighten($color, $highlightPercentage);
    text-decoration: underline;
  }
}

@mixin verticalBorder($color) {
  border-left: 1px solid $color;
  border-right: 1px solid $color;
}

@mixin horizontalBorder($color) {
  border-top: 1px solid $color;
  border-bottom: 1px solid $color;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
