@import "variables";

.full-page{
  width: 100%;
  min-height: 100vh;
}

.public-page{
  width: 100%;
  margin-top: $headerHeight;
  padding: 1rem;
}

.dashboard-page{
  height: calc(100vh - $headerHeight);
  overflow-y: auto;
  padding: 1rem;
}
