@import "variables";
@import "common";

.table-row {
  @include horizontalList(1rem);

  align-items: center;
  padding: 0 1rem;
}

.table-row > * {
  width: 100%;
}

.table-row:hover {
  background-color: darken($lightColorLight, 10%);
}
