$lightColorLight: #d2dae2;
$lightColorDark: #808e9b;

$highlight2Light: #ef5777;
$highLight2Dark: #f53b57;

$highlight1Light: #3498db;
$highlight1Dark: #2980b9;

$darkColorLight: #34495e;
$darkColorDark: #2c3e50;

$headerHeight: 4rem;
