$lightColorLight: #f5f6fa;
$lightColorDark: #dcdde1;

$middleColorLight: #7f8fa6;
$middleColorDark: #718093;

$highlight2Light: #e84118;
$highLight2Dark: #c23616;

$highlight1Light: #00a8ff;
$highlight1Dark: #0097e6;

$highLight3Light: #9c88ff;
$highLight3Dark: #8c7ae6;

$darkColorLight: #353b48;
$darkColorDark: #2f3640;

$ratingColor: #fbc531;

$headerHeight: 4rem;
