$lightColorLight: #d2dae2;
$lightColorDark: #808e9b;

$highlight2Light: #ef5777;
$highLight2Dark: #f53b57;

$highlight1Light: #4bcffa;
$highlight1Dark: #0fbcf9;

$darkColorLight: #485460;
$darkColorDark: #1e272e;

$headerHeight: 4rem;
