.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
}

footer {
  width: 100%;
  margin-top: auto;
}

.example-content{
  background-color: red;
  height: 100px;
  width: 100%;
}
