.page {
  display: flex;
  flex-direction: column;
}

header{
  position: fixed;
  width: 100%;
}

footer {
  width: 100%;
  margin-top: auto;
}

.example-content{
  background-color: red;
  height: 100px;
  width: 100%;
}
