.social-media-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-media {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

@media (max-width: 350px) {
  .social-media {
    justify-content: space-around;
  }
}

@media (max-width: 300px) {
  .social-media {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
