<div class="dashboard-page">
  <app-dashboard-card title="Bearbeiten">
    <div class="content">
      <button mat-raised-button routerLink="../">Zurück</button>

      <div class="edit">
        <app-area title="Equipment Infos bearbeiten">
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input [formControl]="nameFormControl" matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Details</mat-label>
            <textarea [formControl]="detailFormControl" matInput></textarea>
          </mat-form-field>

          <app-save-cancel-buttons (cancelled)="cancel$.next()" (saved)="save$.next()" [saveEnabled]="formGroup.valid">

          </app-save-cancel-buttons>
        </app-area>

        <app-area title="Bild bearbeiten">
          <app-edit-equipment-image *rxLet="content$; let equipment" [equipment]="equipment">

          </app-edit-equipment-image>
        </app-area>
      </div>
    </div>
  </app-dashboard-card>
</div>
